:root {
  --mainRed: #be3144;
  --main-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (min-width: 1090px) {
  #projects-links {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    max-width: 1300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    padding: 0;
  }

  #contact-icons {
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
  }

  .social-media {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }

  #navbar-list {
    margin: 0;
    padding: 0;
    margin-left: 30px;
  }

  #navbar-list li {
    float: left;
    display: block;
    text-align: center;
  }

  .nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (max-width: 1090px) {
  #projects-links {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    max-width: 1300px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 0;
  }

  #contact-icons {
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
  }

  .social-media {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }

  #navbar-list {
    margin: 0;
    padding: 0;
    margin-left: 30px;
  }

  #navbar-list li {
    float: left;
    display: block;
    text-align: center;
  }

  .nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (max-width: 730px) {
  #projects-links {
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    max-width: 1300px;
    grid-template-columns: 1fr;
    padding: 0;
  }

  #contact-icons {
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .social-media {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }

  #navbar-list {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  #navbar-list li {
    display: block;
    text-align: center;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

body {
  margin: 0;
}

#navbar {
  overflow: hidden;
  background-color: var(--mainRed);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  border-bottom: solid black 2px;
  z-index: 1;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: var(--main-font-family);
  padding-left: 30px;
  padding-right: 30px;
}

#welcome-section {
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  height: 100vh;
  overflow: auto;
  text-align: center;
}

#contact {
  padding-top: 120px;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  overflow: auto;
  text-align: center;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

#navbar-list li:hover {
  background-color: rgb(56, 56, 56);
  cursor: pointer;
}

#content h1,
#contact h1 {
  color: white;
  font-family: var(--main-font-family);
  font-size: 60px;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
}

#content h3 {
  color: var(--mainRed);
  font-family: var(--main-font-family);
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}

#projects {
  background-color: #45567d;
  padding: 110px 20px 110px 20px;
  text-align: center;
}

#projects h1 {
  color: white;
  text-decoration: underline white 2px;
  margin: 0;
  text-align: center;
  font-family: var(--main-font-family);
  font-size: 45px;
}

.project-tile {
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 50%);
  border: solid 1px #3a3d40;
}

.project-image {
  width: 100%;
  height: 450px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.project-title {
  background-color: #3a3d40;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: var(--main-font-family);
  font-size: 23px;
}

#profile-link {
  margin: auto;
  text-decoration: none;
  color: white;
  background-color: #3a3d40;
  font-size: 25px;
  font-family: var(--main-font-family);
  padding: 10px 20px 10px 20px;
}

#profile-link:hover {
  background-color: var(--mainRed);
}

.symbols {
  color: #3a3d40;
  font-size: 21px;
}

.project-tile:hover .symbols {
  color: #be3144;
}

#contact-content {
  margin-top: 15%;
}

#contact h3 {
  color: white;
  font-style: italic;
  font-family: var(--main-font-family);
  font-size: 20px;
  font-weight: 100;
  width: 100%;
}

#contact-hr {
  margin-top: 150px;
  color: var(--mainRed);
  background-color: var(--mainRed);
  border-style: none;
  height: 5px;
}

#copyrights {
  font-family: var(--main-font-family);
  font-size: 20px;
  font-weight: 100;
  text-align: right;
  padding: 15px 40px 15px;
}

a {
  text-decoration: none;
  color: white;
}

#copyrights a:hover {
  color: rgb(206, 206, 206);
}

.social-media-name {
  margin-left: 4px;
  font-family: var(--main-font-family);
  font-size: 26px;
  text-shadow: 5px 5px black;
  display: block;
}

.social-media-container {
  display: flex;
}

.social-media:hover {
  top: 10px;
}
